
html {
    margin: 0;
    padding: 0;
    background-color: #FFF7EE;
}


.bodyy {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #373737;
}

a {
    color: #373737;
    text-decoration: none;
}

p {
    color:#373737;
}

h2 {
    color:#373737;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    align-content: center;
    background: #FFF7EE;
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
    transition: all 300ms ease-in-out;
}
.navbar:hover {
    background: white;
    

}

.navlink {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 30px;
    font-family: tahoma;
}

.a1:hover {
    color: orange;
}

.a2:hover {
    color: orange;
}

.a3:hover {
    color: orange;
}

.a4:hover {
    color: orange;
    border-bottom: #ff7200;
    border-radius: 1px;
}

.contact {
    color: white;
    font-size: 20px;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    background: #ff7200;
    border: 2px solid #ff7200;
    margin-top: 13px;;
    font-size: 18px;
}

.contact:hover{
    background: #373737;
    border: #373737;
}

.mn {
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.n1 {
    font-size: 20px;
}

.n2 {
    font-size: 70px;
}

.n3 {
    font-size: 20px;
}

.n4 {
    color: white;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    background: #ff7200;
    border: 2px solid #ff7200;
    font-size: 18px;
}

.n4:hover {
    background: #373737;
    border: #373737;
}


form {
    background: rgb(55, 12, 12);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 2vw 4vw;
    width: 80%;
    max-width: 400px;
    border-radius: 10px;
}

form h1{
    color: #373737;
    font-weight: 800;
    margin-bottom: 10px;
}

form input, form textarea{
    border: 0;
    margin: 10px 0;
    padding: 15px;
    outline: #373737;
    background: #f5f5f5ff;
    font-size: 15px;
}

form button{
    padding: 15px;
    background: orange;
    color: white;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    border-radius:5px;
}

form button:hover{
    background: #373737;
    color: white;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.icons {
    display: flex;
    flex-direction: column;
}

.nm {
    background: #373737;
    display: flex;
    flex-direction: row;
    font-display: center;
    align-items: center;
}

.services {
    display: flex;
    align-items: center;
    font-size: 50px;

}

.web {

    height: 100%;
    display: flex;
    background: #ff7200;
    align-content: center;
    align-items: center;
    font-size: 100px;
}

.main22 {
    background: #373737;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.body2nd {
    background: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.button2 {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
}

.pp1 {
    font-size: 20px;
    color: #373737;
}

.body2 {
    display: flex;
    flex-direction: column;
    padding: 3px;
    align-items: center;
}

.p1 {
    font-size: 50px;
    color: white;
}

.d3 {
    display: flex;
    flex-direction: row;
    padding: 10;
}

h5 {
    font-size: 40px;
    color: #373737;
}

h6 {
    font-size: 20px;
    color: orange;
}
.main3 {
    background: white;
}
span {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}
.p21 {
    font-size: 20px;
}
span {
    color: orange;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
}

.contact22 {
    font-size: 20px;
    width: 30px;
    height: 14px;

}

@media screen and (max-width: 600px)
{
    .body2nd {
        background: white;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        width: 850px;
    }

    .main22 {
        background: #373737;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 850px;
    }
}